<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.php">Accueil</a>
            </li>
            {% if isSession == null %}
            <li class="nav-item">
                <a class="nav-link" href="index.php?action=connexion">Se connecter</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="index.php?action=deconnexion">Se déconnecter</a>
            </li>
            {% endif %}
            {% if isSession == null %}
            <li class="nav-item">
                <a class="nav-link" href="index.php?action=creation-perso">Création d'un personnage</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="index.php?action=personnages">Personnages</a>
            </li>  
            <li class="nav-item">
                <a class="nav-link" href="index.php?action=perso"> {{ nomPerso }}</a>
            </li>     
            <li class="nav-item">
                <a class="nav-link" href="index.php?action=historique">Historique</a>
            </li>                     
            {% endif %}
                           
        </ul>
    </div>
</nav>

