{% extends "template.twig" %}

{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block content %}
    <h1>Page d'accueil</h1>
    <p>Bienvenue sur mon jeu de combat</p>
{% endblock %}








