{% extends "template.twig" %}

{% block head %}
    <title>A propos</title>
{% endblock %}

{% block content %}

<div>
    <h1>A propos</h1>
</div> 

<div class="alert" role="alert" id="alert_about_modify"></div>

<form action="" method="POST" id="frm" name="frm" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-8">
            <div class="form-group">
                <label for="content">Contenu</label>
                <textarea id="content" class="form-control" type="text" name="content" rows="12" maxlength="9000">{{ data.content }}</textarea>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="image">Image</label>
            <input type="file" class="form-control-file" id="fichier" name="file">
            {% if data.lien_img %}
                <hr>
                <span>Image actuelle</span>
                <img class="img_frm" src="{{ data.lien_img }}" alt="">           
            {% endif %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Appliquer les modifications</button>
        
</form>

<script>

    let url = 'index.php?p=about&q=modify';

    $('#frm').submit(function(e) {
        e.preventDefault();
        let form = $('#frm')[0];
        let formData = new FormData(form);

        $.ajax({
            type: 'POST',
            url: url,
            data: formData,
            processData: false,
            contentType: false,
            success: function(reponse) {
                let rep = JSON.parse(reponse);
                displayResponse(rep)
            }
        })
    })

    function displayResponse(rep) {
        let fenetre = document.getElementById('alert_about_modify');
        fenetre.style.display = 'block';
        fenetre.textContent = "";
        if(rep.form.length == 0 & rep.image.length == 0) {
            setTimeout(function() {
                document.location.reload(true)
            }, 1500);
            fenetre.classList.remove('alert-danger');
            fenetre.classList.add('alert-success');
            fenetre.textContent = "La page a bien été modifiée";
            $('#frm')[0].reset();
        } else {
            let errors = [];
            let listErrors = document.createElement('ul');
            for(let i=0; i<rep.form.length; i++){
                errors.push(rep.form[i]);
            }
            for(let i=0; i<rep.image.length; i++){
                errors.push(rep.image[i]);
            }

            for(let i=0; i<errors.length; i++) {
                let li = document.createElement('li');
                li.textContent = errors[i];
                listErrors.appendChild(li);
            }
            fenetre.appendChild(listErrors);
            fenetre.classList.remove('alert-success');
            fenetre.classList.add('alert-danger');
        }
    }

</script>


{% endblock %}

