

#alert_prestation_modifyadd, #alert_photo_modifyadd, #alert_about_modify, #alert_contact_modify {
    display: none;
}

.img_frm {
    width:100%;
}

.img_portfolio, .img_frm_tab {
    max-height: 150px;
}
